/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li, .favorites-list > li, .user-stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

.favorites-list {
  margin: 20px 5px;
}

.favorites-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin: 1.5em 0 0 1.5em;
  font-size: 0.85rem;
  font-weight: bold;
  color: forestgreen;
}

.story-user {
  display: block;
  margin: 0 0 0 1.5em;
  font-size: 0.85rem;
  font-weight: bold;
  color: goldenrod;
}

/* specifics */

.fa-trash-can:hover {
  color: red;
}

.fa-trash-can {
  color: grey
}

#star:hover {
  color:gold;
}

.fa-solid {
  color: gold;
}


